.cell {
  border: 1px solid grey;
  cursor: pointer;
}

.numberPad {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.number {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  cursor: grab;
}

.selected {
  background: #ccc;
}

.warning {
  background: red;
}

.custom-shadow {
  box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
}
